// Colors
// ===================================

	$dribbble:	#ea4c89;
	$linkedin:	#0977b5;
	$twitter:	#2daae2;
	$behance:	#1769FF;

	$yellow: #ffe400;
	$orange: #ff6600;
	$lightgrey: darken(white, 20%);
	$grey: darken(white, 70%);
	$black: darken(white, 80%);
	$border: $black;

// Fonts
// ===================================

	$serif: "Times New Roman", serif; 

// Utilities
// ===================================
	
	@mixin clearfix() {
		*zoom: 1;
		&:after {
			content: " ";
			display: table;
			clear: both;
		}
	}
	.clearfix {
		@include clearfix;
	}

	@mixin hide-text() {
		text-indent: -9999px; 
		white-space: nowrap;
	}

	@mixin background-image-retina($file, $width, $height) {
	  background-image: image-url($file + '.png');
	  display: block;
	  width: $width;
	  height: $height;
	  @include hide-text;
	  @media (-webkit-min-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2) {
		& {
		  background-image: url($file + '@2x.png');
		  @include background-size($width $height);
		}
	  }
	}
	 
