// ----
// General

body {
	font-family: $sans;
	font-size: 18px;
	line-height: 1.5;
}

h2 {
	font-weight: 700;
	text-transform: uppercase;
	padding-bottom: 5px;
	margin: 60px 0 20px;
	border-bottom: 1px solid darken(white, 10%);
}

p {
	margin: 20px 0 0 0;
	&:first-of-type {
		margin-top: 40px;
	}
}

a {
	color: black;
	&:hover {
		color: blue;
	}
}


ul {
	margin: 30px 0 0 0;
}

// ----
// Layout
// ----
 
 .portrait {
 	float: left;
 	width: 20%;
 	max-width: 280px;
 	margin: 5%;
 	img {
 		display: block;
 		max-width: 100%;
 		width: 100%;
 	}
 }

 .content {
 	margin: 5%;
 	float: left;
 	width: 70%;
 	max-width: 640px;
 }

// ----
// Masthead
// ----

.masthead {
	background: black;
	width: 240px;
	padding: 10px;
	font-size: 16px;
	@include clearfix;
	span {
		float: left;
		width: 30px;
		height: 30px;
		color: white;
		text-align: center;
		line-height: 30px;
		text-transform: uppercase;
	}
}
 

// ----
// Social
// ----

.btn-email {
	text-decoration: none;
	background: darken(white, 13%);
	display: inline-block;
	padding: 12px 21px;
	line-height: 1;
	&:hover {
		background: darken(white, 8%);
	}
}
.social {
	li {
		display: inline;
		margin-right: 10px;
	}
}

// ----
// Projects
// ----
.projects {
	li {
		margin: 20px 0 0 0;
	}
	a {
		text-decoration: none;
	}
	.title {
		text-decoration: underline;
	}
	.caption {
		display: block;
		font-style: italic;
		color: black;
	}
}


// ----
// Logos
// ----

.logos {
	margin: 1.5em 0;
	li {
		display: inline-block;
		text-align: center;
		vertical-align: middle;
		margin: 40px 40px 0 0;
		@media all and (max-width: 480px) {
			margin: 40px 0;
			display: block;
		}
	}
	img {
		width: 100%;
		max-width: 150px;
		display: block;
	}
	.uva {
		width: 120px;
	}
	.mcgraw-hill {
		width: 90px;
	}
}