{
  parser: "babel-eslint",
  extends: ['airbnb'],
  rules: {
    'arrow-parens': 'off',
    'comma-dangle': ['error', 'never'],
    'func-names': ['warn', 'as-needed'],
    'func-style': 'off',
    'no-nested-ternary': 'off',
    'semi': 'error',
    "react/jsx-one-expression-per-line": "off",
    "react/prop-types": 0
  },
  "env": {
    "browser": true,
    "node": true
  }
}
