---
layout: default
title: "Mitchell Hillman"
---
<img class="resume__portrait" src="img/portrait.jpg" alt="Portrait of Mitchell Hillman">
<h1 class="resume__heading">{{site.data.resume.name}}</h1>
<p class="resume__location">{{site.data.resume.location}}</p>
<p class="resume__phone">{{site.data.resume.phone}}</p>
<p class="resume__email"><a href={`mailto:${{site.data.resume.email}}`}>{{site.data.resume.email}}</a></p>

<h2 class="resume__sectionHeading">Work History</h2>
{% include_relative _includes/_jobs.html %}
<h2 class="resume__sectionHeading">Education</h2>
{% include_relative _includes/_degrees.html %}
