@font-face {
  font-family: Inter;
  font-weight: 400;
  font-style: normal;
  src: url('fonts/Inter-Regular.otf');
}
@font-face {
  font-family: Inter;
  font-weight: 400;
  font-style: italic;
  src: url('fonts/Inter-Italic.otf');
}
@font-face {
  font-family: Inter;
  font-weight: 700;
  font-style: normal;
  src: url('fonts/Inter-Bold.otf');
}
@font-face {
  font-family: Inter;
  font-weight: 700;
  font-style: italic;
  src: url('fonts/Inter-BoldItalic.otf');
}
