.job {
  margin: 30px 0;
  padding-bottom: 16px;
  border-bottom: 1px solid #e5e5e5;
}
.job__title {
  font-weight: bold;
  margin: 0;
}
.job__company {
  font-size: 12px;
  font-style: italic;
  margin: 0;
}
.job__location {
  font-size: 12px;
  margin: 0;
}
.job__dates {
  font-size: 12px;
  font-style: italic;
  margin: 0;
}
.job__description {
  font-size: 12px;
  line-height: 1.5;
  margin: 16px 0 0 0;
}

.job__contributions {
  font-size: 12px;
  line-height: 1.5;
  margin: 16px 0 0 0;
}
@media print {
  .job {
    padding: 20px 0;
    margin: 0;
    page-break-inside: avoid;
  }
}
