.skills {
  margin: 10px 0;
}
.skill {
  font-size: 12px;
  background: #e5e5e5;
  padding: 0 10px;
  line-height: 2;
  display: inline-block;
  margin: 0 6px 6px 0;
  border-radius: 8px;
}
@media print {
  .skill {
    border: 1px solid black;
  }
}
