<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>{{ site.name }}</title>
		
		<!-- Screen CSS -->
		<link href="/interface/css/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />

		<!-- Print CSS -->
		<link href="/interface/css/print.css" media="print" rel="stylesheet" type="text/css" />

		<!-- Favicons -->
		<link rel="icon" type="image/ico" href="/interface/images/favicon.ico" />
		<link rel="apple-touch-icon-preformatted" href="/interface/images/apple-touch-icon.png" />
		
		<!-- Meta -->
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<!--[if IE]>
			<link href="/interface/css/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
		<![endif]-->
	</head>
	<body>
	<div class="banner">
		<ul class="tiles">
			<li class="logo"></li>
			<li class="dribbble"><a href="http://dribbble.com/mitchellhillman"></a></li>
			<li class="twitter"><a href="https://twitter.com/mitchellhillman"></a></li>
			<li class="linkedin"><a href="http://www.linkedin.com/in/mitchellhillman"></a></li>
			<li class="github"><a href="https://github.com/mitchellhillman"></a></li>
			<li class="behance"><a href="http://www.behance.net/mitchellhillman"></a></li>
			<li class="email"><a href="mailto:mitchellhillman@gmail.com"></a></li>
		</ul>
	</div>

	<div class="content home">
		<div class="section">
		{{ content }}
		</div>
	</div>

		<!-- Scripts -->
		<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		  ga('create', 'UA-42609303-1', 'mitchellhillman.com');
		  ga('send', 'pageview');
		</script>
	</body>
</html>