
// Colors
// ================================================
	$magenta:		#841c34;
	$pink:			#c73367;
	$lightblue:		#b1c0c9;
	$darkblue:		#006e9d;
	$green:			#9fa617;
	$brown:			#58574b;
	$orange:		#f78e1e;
	$grey:			#d2cdc7;

// Fonts
// ================================================
	@import url(http://fonts.googleapis.com/css?family=Open+Sans:700,300);
	$sans:	'Helvetica', sans-serif;

// Utilities
// ================================================
	@mixin clearfix {
		*zoom: 1;
		&:before,
		&:after {
			display: table;
			content: "";
		}
		&:after {
			clear: both;
		}
	}
	
	@mixin hide-text {
		text-indent: -9999em;
		white-space: nowrap;
		line-height: 0; 
	    font-size: 0;
	    color: transparent; 
	}

// Font
// ================================================
@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot');
	src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('../fonts/icomoon.woff') format('woff'),
		url('../fonts/icomoon.ttf') format('truetype'),
		url('../fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

@mixin font-icon($name) {
	&:before {
		font-family: 'icomoon';
		content: $name;
		speak: none;
		font-weight: normal;
		font-variant: normal;
		text-transform: none;
		line-height: 1;
		-webkit-font-smoothing: antialiased;
	}
}