
@import "base";

// General
// ================================================
	::selection {
		background: $black;
		color: white;
	}
	::-moz-selection {
		background: $black;
		color: white;
	}
	body {
		font-family: 'futura-book', sans-serif;
		font-size: 1.25em;
		line-height: 2em;
		color: $black;
	}
	p {
		margin: 1em 0;
	}
	strong {
		font-family: 'futura-heavy', sans-serif;
		font-weight: 700;
	}
	a {
		text-decoration: none;
		color: $black;
		border-bottom: 2px solid $black;
		&:hover {
			color: $linkedin;
			border-color: $linkedin;
		}
	}
	.dropcap {
		font-family: 'futura-heavy', sans-serif;
		font-size: 4em;
		// float: right;
		margin: 0.5em 0;
	}
	.social {
		margin: 2em 0 1em 0;
		@include clearfix;
		li {
			float: left;
		}
		a {
			text-decoration: none;
			border: 2px solid darken(white, 30%);
			@include border-radius(2px);
			float: left;
			padding: 0 0.75em;
			line-height: 1.75em;
			margin-right: 1em;
			margin-bottom: 1em;
			color: darken(white, 40%);
			&:hover {
				border-color: $black;
				color: $black;
			}
			&.dribbble:hover { color: $dribbble; border-color: $dribbble; }
			&.linkedin:hover { color: $linkedin; border-color: $linkedin; }
			&.behance:hover { color: $behance; border-color: $behance; }
			&.twitter:hover { color: $twitter; border-color: $twitter; }
		}
	}
	.section {
		padding: 1em 12.5%;
	}
@media (max-width: 600px) {
	body {
		font-size: 1em;
		p {
			margin: 1.2em 0;
		}
	}
}
@media (max-width: 480px) {
	.section {
		padding: 1em 20px;
	}
}